{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <br>
    <br>
    <br>

<div class="container mt-5">
  <h2 style="color: #e94924">Tentang dinee</h2>

  <br>
  
  <p>
    Dinee merupakan lorem ipsum dolor sit amet, consectetur adipiscing elit. Id tortor magna pretium amet in gravida at commodo. Lacus bibendum consequat, aenean tempor laoreet curabitur eget augue vestibulum. 
    <br>
    <br>
    Sagittis habitant vestibulum nunc sit odio risus. Etiam praesent urna tincidunt dolor fermentum amet. Sem adipiscing parturient lorem ac parturient ut. Vestibulum tellus feugiat eget nunc adipiscing ornare diam pretium nulla. 
    Pretium faucibus aliquam eu, sed scelerisque euismod. Id aliquet condimentum posuere porttitor. Ac volutpat, donec lectus pulvinar amet, faucibus.
  </p>

  <br>
  <h5></h5>
  <h4>Visi</h4>
  <p>
    Vestibulum tellus feugiat eget nunc adipiscing ornare diam pretium nulla. 
  </p>
  <h4>Misi</h4>
  <p>
    Vestibulum tellus feugiat eget nunc adipiscing ornare diam pretium nulla. 
    Sagittis habitant vestibulum nunc sit odio risus.
    Etiam praesent urna tincidunt dolor fermentum amet.
  </p>

</div>





    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <hr class="featurette-divider">

<div class="container">
    <h4>Kenali Tim Kami</h4>


    <br>
    <br>

    <div class="row" id="dinee-team">
      <div class="col">
        <img class="team-profile" src="{% static 'img/markz.jpg' %}" alt="">
        <h2 class="featurette-heading">Rio Prasetya </h2>
        <h5 class="featurette-heading">Chief Executive Officer </h5>
      </div>
      <div class="col">
        <img class="team-profile" src="{% static 'img/markz.jpg' %}" alt="">
        <h2 class="featurette-heading">Rama Kresna </h2>
        <h5 class="featurette-heading">Chief Operating Officer </h5>
      </div>
      <div class="col">
        <img class="team-profile" src="{% static 'img/markz.jpg' %}" alt="">
        <h2 class="featurette-heading">Charles Bernando </h2>
        <h5 class="featurette-heading">Chief Technology Officer </h5>
      </div>
    </div>
</div>

<br>
<br>
<br>
    <br>
    <br>


<!--Main layout-->
<main class="m-0 p-0">
  <div class="container-fluid m-0 p-0">

    <!--Google map-->
    <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px;">
        <iframe height="100%" width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.678625956497!2d106.71913682917429!3d-6.168970999720849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f82625360433%3A0xba93f495796a6a9e!2sJl.%20Kosambi%20Baru%20No.1f%2C%20RT.15%2FRW.1%2C%20Duri%20Kosambi%2C%20Kecamatan%20Cengkareng%2C%20Kota%20Jakarta%20Barat%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2011750!5e0!3m2!1sen!2sid!4v1595623328324!5m2!1sen!2sid" frameborder="0" style="border:0;" allowfullscreen></iframe>
    </div>

  </div>
</main>
<!--Main layout-->


{% endblock %}
