{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <h3></h3>
    <br>
    <br>
    <br>
<div class="row">
    <div class="col-md-7">
        <h1 style="text-align: center">Tentang Kami</h1>

        <br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>

        <br>
        <h5></h5>

    </div>
    <div class="col-md-5">
        <img src="{% static 'img/eatngo.jpg' %}" alt="" width="100%">
    </div>
</div>




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <hr class="featurette-divider">

<div class="col-lg-12">
    <h4 class="text-lg-center">Tim Kami</h4>


    <br>
    <br>
</div>




        <div class="row featurette">
          <div class="col-md-8">
            <h2 class="featurette-heading">Rio Prasetya </h2>
            <h5 class="featurette-heading">Chief Executive Officer </h5>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. </p>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/markz.jpg' %}" alt="">
          </div>
        </div>

    <br>
    <br>

        <div class="row featurette">
          <div class="col-md-8">
            <h2 class="featurette-heading">Rama Kresna </h2>
            <h5 class="featurette-heading">Chief Operating Officer </h5>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. </p>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/markz.jpg' %}" alt="">
          </div>
        </div>
    <br>
    <br>


        <div class="row featurette">
          <div class="col-md-8">
            <h2 class="featurette-heading">Charles Bernando </h2>
            <h5 class="featurette-heading">Chief Technology Officer </h5>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. </p>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/markz.jpg' %}" alt="">
          </div>
        </div>



<br>
<br>
<br>
    <br>
    <br>


<!--Main layout-->
<main class="m-0 p-0">
  <div class="container-fluid m-0 p-0">

    <!--Google map-->
    <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px;">
        <iframe height="100%" width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.678625956497!2d106.71913682917429!3d-6.168970999720849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f82625360433%3A0xba93f495796a6a9e!2sJl.%20Kosambi%20Baru%20No.1f%2C%20RT.15%2FRW.1%2C%20Duri%20Kosambi%2C%20Kecamatan%20Cengkareng%2C%20Kota%20Jakarta%20Barat%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2011750!5e0!3m2!1sen!2sid!4v1595623328324!5m2!1sen!2sid" frameborder="0" style="border:0;" allowfullscreen></iframe>
    </div>

  </div>
</main>
<!--Main layout-->


<!-- Footer -->
<footer class="page-footer font-small blue pt-4 px-0 mx-0 py-3">

  <!-- Footer Links -->
  <div class="container-fluid px-0 mx-0 py-3 text-center text-md-left">

    <!-- Grid row -->
    <div class="row px-0 mx-0 py-3" style="background-color: orangered;">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 mx-0 py-3">

        <!-- Content -->
          <h3 class="text-lowercase" style="color: white;">eatngo</h3>
{# <img class="rounded-left" src="{% static 'img/eatngoword.jpg' %}" alt="eatngoword"> #}
          <p style="color: white;">PT Kresna Teknologi Indonesia</p>
          <p style="color: white;">Address, Phone, Email</p>

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color: white;">Navigasi</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: white;">Beranda</a>
          </li>
          <li>
            <a href="#!" style="color: white;">Tentang Kami</a>
          </li>
          <li>
            <a href="#!" style="color: white;">Partner Kami</a>
          </li>
          <li>
            <a href="#!" style="color: white;">FAQ</a>
          </li>
          <li>
            <a href="#!" style="color: white;">Berita</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color: white;">Legal</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: white;">Syarat & Ketentuan</a>
          </li>
          <li>
            <a href="#!" style="color: white;">Kebijakan Privasi</a>
          </li>
          <li>
            <a href="#!" style="color: white;">Cookies</a>
          </li>
          <li>
            <a href="#!" style="color: white;">Disclaimer</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> PT Kresna Teknologi Indonesia</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



{% endblock %}