{% extends "base.html" %}
{% load static %}

{% block page_content %}



<div class="container">

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">eatngo</a>
          <a class="p-2 text-muted" href="#">Services</a>
          <a class="p-2 text-muted" href="#">Payment</a>
          <a class="p-2 text-muted" href="#">Restaurant</a>
          <a class="p-2 text-muted" href="#">Customer</a>
          <a class="p-2 text-muted" href="#">Appetizer</a>
          <a class="p-2 text-muted" href="#">Food</a>
          <a class="p-2 text-muted" href="#">Beverages</a>
          <a class="p-2 text-muted" href="#">Dessert</a>
          <a class="p-2 text-muted" href="#">Experience</a>
          <a class="p-2 text-muted" href="#">Opinion</a>
          <a class="p-2 text-muted" href="#">Culture</a>
        </nav>
      </div>

      

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Customer</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{% url 'post' 1 %}">Featured post</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Restaurant</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="{% url 'post' 2 %}">Post title</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
          </div>
        </div>
        {% for post in blogposts %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              {% with colorindex=forloop.counter %}
              <strong class="d-inline-block mb-2 text-success">{{ post }}</strong>
              {% endwith %}
              <h3 class="mb-0">
                <a class="text-dark" href="{% url 'post' forloop.counter %}">Post number {{ forloop.counter }}</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
          </div>
        </div>
        {% endfor %}
      </div>

</div>


{% endblock %}
