{% extends "base.html" %}
{% load static %}

{% block page_content %}



<div class="container">

      <br>
      <br>
      <br>

      <div class="d-flex flex-row justify-content-between mb-5 mt-5 align-items-center" id="blog-header">
        <div class="col pl-0">
          <h2 class="h2-title">Ada apa di dinee</h2>
        </div>
        <div class="row col-6">
          <div class="col-md-9">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text search-icon"><img class="glass-icon" src="{% static 'img/magnifying-glass.png' %}"></span>
              </div>
              <input type="text" id="blog-search-form" class="form-control search-bar" placeholder="Cari artikel..." aria-label="Cari Artikel..." aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col pr-0">
            <div class="dropdown">
              <h6 class="ml-3" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">Kategori &#9662; </h6>
              <div class="dropdown-content">
                <p>Tentang Restoran</p>
                <p>Tentang Pelanggan</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="row mb-2" id="blog-highlight">
        <div class="blog-card col-6">
          <a href="{% url 'post' blogposts.0.id %}">
            <img src="{% static 'img/classy.png' %}" width='100%' height='auto'>
          </a>
          <h3 class="my-3">
            <a href="{% url 'post' blogposts.0.id %}" class="blog-link">
              Latest : {{ blogposts.0.title }}
            </a>
          </h3>
          <p>Ac non facilisi pulvinar. Ut orci id a et, quis aliquet lorem magna. Vestibulum consequat quis aliquam dolor mi enim.</p>
          <div class="row justify-content-between">
            <p class="col">{{ blogposts.0.author }}</p>
            <p class="text-lg-right col">{{ blogposts.0.published_date }}</p>
          </div>
        </div>
        <div class="col-6">
          <div class="row mb-4">
            <div class="col-6">
              <a href="{% url 'post' blogposts.1.id %}">
                <img src="{% static 'img/classy.png' %}" href="{% url 'post' blogposts.1.id %}" width='95%'>
              </a>
            </div>
            <div class="col-6 px-0 mx-0">
              <a href="{% url 'post' blogposts.1.id %}" class="blog-link mb-5"><h5 style="font-weight: 800;">Highlight 1 : {{ blogposts.1.title }}</h5></a>
              <div class="row justify-content-between mt-5">
                <p class="col-4">{{ blogposts.1.author }}</p>
                <p class="text-lg-right col">{{ blogposts.1.published_date }}</p>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-6">
              <a href="{% url 'post' blogposts.2.id %}">
                <img src="{% static 'img/classy.png' %}" href="{% url 'post' blogposts.2.id %}" width='95%'>
              </a>
            </div>
            <div class="col-6 px-0 mx-0">
              <a href="{% url 'post' blogposts.2.id %}" class="blog-link mb-5"><h5 style="font-weight: 800;">Highlight 2 : {{ blogposts.2.title }}</h5></a>
              <div class="row justify-content-between mt-5">
                <p class="col-4">{{ blogposts.2.author }}</p>
                <p class="text-lg-right col">{{ blogposts.2.published_date }}</p>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <a href="{% url 'post' blogposts.3.id %}">
                <img src="{% static 'img/classy.png' %}" href="{% url 'post' blogposts.3.id %}" width='95%'>
              </a>
            </div>
            <div class="col-6 px-0 mx-0">
              <a href="{% url 'post' blogposts.3.id %}" class="blog-link mb-5"><h5 style="font-weight: 800;">Highlight 3 : {{ blogposts.3.title }}</h5></a>
              <div class="row justify-content-between mt-5">
                <p class="col-4">{{ blogposts.3.author }}</p>
                <p class="text-lg-right col">{{ blogposts.3.published_date }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        {% for post in blogposts %}
          {% if forloop.counter > 4 %}
          <div class="col-4" >
            <a href="{% url 'post' post.id %}">
              <img src="{% static 'img/classy.png' %}" width='100%' height='auto'>
            </a>
            <h4 class="my-3">
              <a href="{% url 'post' post.id %}" class="blog-link">
                Post Number {{ post.id }} : {{ post.title }}
              </a>
            </h4>
            <div class="row justify-content-between mt-4">
              <p class="col">{{ post.author }}</p>
              <p class="text-lg-left col">{{ post.published_date }}</p>
            </div>
          </div>
          {% endif %}
          <!-- <p>{{ post }}</p> -->
        {% endfor %}
      </div>

      <nav class="col-md-12" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% for iteration in pagenumber %}
          <li class="page-item"><a class="page-link" href="#">{{ iteration }}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
</div>


{% endblock %}
