{% extends "base.html" %}
{% load static %}

{% block page_content %}



<div class="container">

      <br>
      <br>
      <br>

      <div class="d-flex flex-row justify-content-between mb-5 mt-5 align-items-center" id="blog-header">
        <div class="col pl-0">
          {% if category %}
            <h3 class="h2-title">{{ category }}</h3>
          {% else %}
            <h3 class="h2-title">Ditemukan {{ searchcount }} artikel terkait "{{ characters }}"</h3>
          {% endif %}
        </div>
        <div class="row col-6">
          <div class="col-md-9">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text search-icon" id="basic-addon1"><img class="glass-icon" src="{% static 'img/magnifying-glass.png' %}"></span>
              </div>
              <input type="text" id="blog-search-form" class="form-control search-bar" placeholder="Cari artikel..." aria-label="Cari Artikel..." aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col pr-0">
            <div class="dropdown">
              <h6 class="ml-3" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">Kategori &#9662; </h6>
              <div class="dropdown-content">
                <a class="cat-link" href="{% url 'blogrestoran' %}">Tentang Restoran</a>
                <a class="cat-link" href="{% url 'blogpelanggan' %}">Tentang Pelanggan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% if blogposts %}
      <div class="row">
        {% for post in blogposts %}
          <div class="col-4" width='400px'>
            <img src="{% static 'img/classy.png' %}" width='378px' height='auto'>
            <h3>
              <a href="{% url 'post' post.id %}" class="blog-link">
                Post Number {{ post.id }} : {{ post.title }}
              </a>
            </h3>
            <p>Ac non facilisi pulvinar. Ut orci id a et, quis aliquet lorem magna. Vestibulum consequat quis aliquam dolor mi enim.</p>
            <div class="row justify-content-between">
              <p class="col">{{ post.author }}</p>
              <p class="text-lg-right col">{{ post.published_date }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      {% elif characters %}

      <h2> Hasil pencarian tidak ditemukan untuk "{{ characters }}"</h2>

      {% else %}

      <h2> Hasil pencarian tidak ditemukan untuk "{{ category }}"</h2>

      {% endif %}

      <nav class="col-md-12" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% for iteration in pagenumber %}
          <li class="page-item"><a class="page-link" href="#">{{ iteration }}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
</div>


{% endblock %}