{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <h3></h3>
    <br>
    <br>
    <br>
<div class="container">
<div class="row">
    <div class="col-md-7">
        <h1>Platform Contactless Dining</h1>
        <h1>di Indonesia</h1>
        <br>
        <p>Platform digital dimana kamu bisa menikmati makanan favoritmu
        di restoran terbaik kami tanpa interaksi dengan siapapun</p>
        <br>
        <h5></h5>
        <p>Ayo bergabung bersama kami dan dapatkan kenyamanan makan di restoran terbaik kami</p>
        <button type="button" class="btn btn-warning btn-sm" style="background-color: #e94924; padding: 12px 16px; border-radius: 25px; color: white;"><b>Coba Sekarang</b></button>
    </div>
    <div class="col-md-5">
        <img src="{% static 'img/eatngo.jpg' %}" alt="" width="100%">
    </div>
</div>
</div>




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<div class="col-lg-12" id="why-dinee">
    <div class="container">
        <h2 class="text-lg-left">Kenapa harus Dinee?</h2>
    </div>
    <div class="row">
        <div id="cool-shape"><h1>image here</h1></div>
        <ul>
            <li>
                <h5 class="card-title">Menu Makanan dari Restoran Terbaik</h5>
                <p class="card-text">Kini Anda bisa menikmati makanan favorit Anda dari restoran terbaik kami dengan nyaman.</p>
            </li>
            <li>
                <h5 class="card-title">Contactless Payment</h5>
                <p class="card-text">Anda dapat membayar makanan Anda melalui app kami dan Anda dapat memilih metode pembayaran yang kami sediakan.</p>
            </li>
            <li>
                <h5 class="card-title">Nikmati Momen Istimewa Anda</h5>
                <p class="card-text">Anda akan mempunyai lebih banyak waktu untuk keluarga dan sahabat Anda saat menikmati makanan favorit Anda.</p>
            </li>
        </ul>
    </div>
    <br>
    <br>
</div>

<div class="col-lg-12" id="easy-way">
    <div class="container">
        <h2 class="text-lg-left">Cara Mudah Pakai Dinee</h2>
        <div class="row">
            <ol>
                <li>
                    <h5 class="card-title">Pilih Restoran Favoritmu di Aplikasi DInee</h5>
                    <p class="card-text">Temukan restoran dengan fitur search atau pilih restoran dari home</p>
                </li>
                <li>
                    <h5 class="card-title">Pilih makanan dan minuman yang kamu mau</h5>
                    <p class="card-text">Kamu bisa pilih lebih dari satu makanan atau minuman</p>
                </li>
                <li>
                    <h5 class="card-title">Checkout pilihan kamu dan lakukan pembayaran</h5>
                    <p class="card-text">Kamu bisa pilih dine-in atau takeaway</p>
                </li>
                <li>
                    <h5 class="card-title">Datang ke restoran dan nikmati hidanganmu</h5>
                    <p class="card-text">Pramusaji akan datang dengan makanan dan minumanmu</p>
                </li>
            </ol>
            <div id="cool-shape-2"><h2>image here</h2></div>
        </div>
    </div>
</div>

<div class="col-lg-12 container" id="dinee-blog">
    <div class="container">
        <div class="row">
            <h2 class="text-lg-left">Dinee Blog</h2>
            <a href="{% url 'blog' %}">View more</a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="card-img-top blog-preview" src="{% static 'img/food.jpg' %}">
            </div>
            <div class="col-md-4">
                <img class="card-img-top blog-preview" src="{% static 'img/food.jpg' %}">
            </div>
            <div class="col-md-4">
                <img class="card-img-top blog-preview" src="{% static 'img/food.jpg' %}">
            </div>
        </div>
    </div>
</div>



{% endblock %}
