{% extends "base.html" %}
{% load static %}

{% block page_content %}
    
    <br>
    <br>
    <br>
<div class="container mt-5">
<div class="row">
    <div class="col-md-5">
        <h1>Platform Contactless Dining di Indonesia</h1>

        <br>
        <p>Platform digital dimana kamu bisa menikmati makanan favoritmu
        di restoran terbaik kami tanpa interaksi dengan siapapun</p>
        <br>
        <h5></h5>
        <p>Ayo bergabung bersama kami dan dapatkan kenyamanan makan di restoran terbaik kami</p>
        <img src="{% static 'img/get-on-google-play-badge.png' %}" width="150px">
        <!-- <button type="button" class="btn btn-warning btn-sm" style="background-color: #e94924; padding: 12px 16px; border-radius: 25px; color: white;"><b>Coba Sekarang</b></button> -->
    </div>
    <div class="col-md-7">
        <img src="{% static 'img/baru 1home.png' %}" alt="" width="100%">
    </div>
</div>
</div>




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<div class="col-lg-12" id="why-dinee">
    <div class="container">
        <h2 class="text-lg-left h2-title">Kenapa harus dinee?</h2>
    </div>
    <div class="row">
        <div id="cool-shape"><img src="https://i.imgur.com/tHaxEiS.png" width="100%"></div>
        <ul id="homepage-ul">
            <li id="homepage-ul-1">
                <h2 class="card-title">Menu Makanan dari Restoran Terbaik</h2>
                <p class="card-text why-dinee-text">Kini Anda bisa menikmati makanan favorit Anda dari restoran terbaik kami dengan nyaman.</p>
            </li>
            <li id="homepage-ul-2">
                <h2 class="card-title">Contactless Payment</h2>
                <p class="card-text why-dinee-text">Anda dapat membayar makanan Anda melalui app kami dan Anda dapat memilih metode pembayaran yang kami sediakan.</p>
            </li>
            <li id="homepage-ul-3">
                <div style="margin-bottom:25px;">
                    <h2 class="card-title">Nikmati Momen Istimewa Anda</h2>
                    <p class="card-text why-dinee-text">Anda akan mempunyai lebih banyak waktu untuk keluarga dan sahabat Anda saat menikmati makanan favorit Anda.</p>
                </div>
            </li>
        </ul>
    </div>
    <br>
    <br>
</div>

<div class="col-lg-12" id="easy-way">
    <div class="container">
        <h2 class="text-lg-left h2-title" id="easy-way-title">Cara Mudah Pakai Dinee</h2>
        <div class="row">
            <div id="easy-way-ol">
                <button class="easy-way-li row my-1 btn btn-outline-light">
                    <div class="pr-md-4">
                        <div class="number">
                        1
                        </div>
                    </div>
                    <div>
                        <h5 class="easy-way-header">Pilih restoran favoritmu di Aplikasi Dinee</h5>
                        <p class="easy-way-text">Temukan restoran dengan fitur search atau pilih restoran dari home</p>
                    </div>
                </button>
                <button class="easy-way-li row my-1 btn btn-outline-light">
                    <div class="pr-md-4">
                        <div class="number">
                        2
                        </div>
                    </div>
                    <div>
                        <h5 class="easy-way-header">Pilih makanan dan minuman yang kamu mau</h5>
                        <p class="easy-way-text">Kamu bisa pilih lebih dari satu makanan atau minuman</p>
                    </div>
                </button>
                <button class="easy-way-li row my-1 btn btn-outline-light">
                    <div class="pr-md-4">
                        <div class="number">
                        3
                        </div>
                    </div>
                    <div>
                        <h5 class="easy-way-header">Checkout pilihan kamu dan lakukan pembayaran</h5>
                        <p class="easy-way-text">Kamu bisa pilih dine-in atau takeaway</p>
                    </div>
                </button>
                <button class="easy-way-li row my-1 btn btn-outline-light">
                    <div class="pr-md-4">
                        <div class="number">
                        4
                        </div>
                    </div>
                    <div>
                        <h5 class="easy-way-header">Datang ke restoran dan nikmati hidanganmu</h5>
                        <p class="easy-way-text">Pramusaji akan datang dengan makanan dan minumanmu</p>
                    </div>
                </button>
            </div>
            <div id="cool-shape-2"><img src="https://i.imgur.com/jpJPNvE.png" width="100%"></div>
        </div>
    </div>
</div>

<div class="col-lg-12 container" id="dinee-blog">
    <div class="container">
        <div class="d-flex flex-row justify-content-between mb-5 align-items-center">
            <h2 class="text-lg-left">Dinee Blog</h2>
            <a href="{% url 'blog' %}" id="view-more">View more</a>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <img class="blog-preview" src="{% static 'img/food.jpg' %}" width="100%">
                <p class="blog-date">August 18, 2020</p>
                <p class="blog-title">Cara aman makan di restoran saat pandemi</p>
            </div>
            <div class="col-12 col-md-4">
                <img class="blog-preview" src="{% static 'img/food.jpg' %}" width="100%">
                <p class="blog-date">August 12, 2020</p>
                <p class="blog-title">Kemudahan Contactless Dining</p>
            </div>
            <div class="col-12 col-md-4">
                <img class="blog-preview" src="{% static 'img/food.jpg' %}" width="100%">
                <p class="blog-date">August 8, 2020</p>
                <p class="blog-title">Simak tips n trick memilih restoran</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}
