{% extends "base.html" %}
{% load static %}

{% block page_content %}


<div class="container">
    <br />
    <br />
    <br />

    <div class="my-5 d-flex flex-column">
        <h2 class="text-center generic-header-1">Kebijakan Privasi</h2>
    </div>

    <div class="my-5 py-5">
      <br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit tellus id est sed. Venenatis turpis purus tempus, quisque nunc enim mattis aliquam. Erat nibh nunc facilisis sit adipiscing ridiculus non. Sem nunc dui massa senectus justo, purus lacus. Tempus id nunc felis morbi consectetur. Est suspendisse cursus mauris dui adipiscing.
<br>
<br>

<b>Enim sem mattis et</b>

<br>
<br>

Pellentesque non enim placerat penatibus sed purus vitae maecenas. Ac ut convallis gravida leo in arcu id. Porta tristique scelerisque ligula interdum. In blandit massa, aenean eget. Enim sem mattis et aenean sit elementum euismod nulla. Orci velit habitant risus dui ut at nisi. Aenean amet, vulputate tortor placerat diam feugiat sit. Augue proin non et at lacus, ac aenean sed. Dolor dui eleifend nec auctor dictum sit sit. Aliquam, dictum scelerisque egestas sed scelerisque quam egestas arcu, suscipit. Ridiculus elit enim consectetur elit aliquam adipiscing id. Vulputate nunc, volutpat, commodo risus. Vulputate eu pellentesque fringilla non etiam suspendisse. Mauris, sagittis et, egestas sapien at. Ipsum volutpat gravida proin consectetur at scelerisque pretium viverra ac.
<br>
<br>
Gravida bibendum malesuada sem nulla sit duis diam nibh tristique. Neque, habitant pellentesque elit consequat eget. Gravida tempor cras felis, ornare enim arcu neque. Varius vestibulum fringilla arcu bibendum. Tortor aenean consequat amet, sed. Pretium pulvinar tristique arcu urna, habitant. In in quis ultricies consequat enim. Enim purus sollicitudin mauris mauris. Mollis a nunc fringilla sit.
Elit, et mauris dignissim duis vitae. Consectetur lorem tristique morbi sit faucibus. Nunc sed tempus vulputate volutpat urna ultrices sed cras scelerisque. Mauris pellentesque enim nulla vestibulum volutpat. Mattis at faucibus habitasse massa dui pulvinar tortor nunc sit. Porta a sed egestas pharetra eu diam eget ultrices. Maecenas auctor at auctor semper.
Augue dictum tincidunt 
<br>
<br>
Est congue eleifend praesent nulla ipsum est laoreet. Gravida auctor facilisis amet non vitae. Nisi cras ac felis, ultrices quisque sed. Tellus metus proin amet, hendrerit hendrerit sed dui varius urna. Eu, tristique blandit vitae neque sed vel. Feugiat nam volutpat amet enim. Augue dictum tincidunt aliquet porta quam tellus diam. Faucibus est scelerisque tellus suspendisse ut nunc nec. Aliquet rhoncus facilisi aenean varius porta vulputate tincidunt. Justo tincidunt semper ut dolor tellus erat nisi, aliquam. Elit pretium sed fames tempus massa arcu nunc. Commodo eu aliquam aliquam ultrices amet consectetur nullam diam proin.
<br>
<br>
Gravida bibendum malesuada sem nulla sit duis diam nibh tristique. Neque, habitant pellentesque elit consequat eget. Gravida tempor cras felis, ornare enim arcu neque. Varius vestibulum fringilla arcu bibendum. Tortor aenean consequat amet, sed. Pretium pulvinar tristique arcu urna, habitant. In in quis ultricies consequat enim. Enim purus sollicitudin mauris mauris. Mollis a nunc fringilla sit.
Elit, et mauris dignissim duis vitae. Consectetur lorem tristique morbi sit faucibus. Nunc sed tempus vulputate volutpat urna ultrices sed cras scelerisque. Mauris pellentesque enim nulla vestibulum volutpat. Mattis at faucibus habitasse massa dui pulvinar tortor nunc sit. Porta a sed egestas pharetra eu diam eget ultrices. Maecenas auctor at auctor semper.

    </div>

    
</div>
<div class="py-5 d-flex flex-column justify-content-center" id="faq-page-bottom">
    <div class="container py-5">
        <h3 class="text-left generic-white-text">
            Tidak menemukan apa yang kamu cari?
        </h3>
        <p class="text-left generic-white-text">Hubungi kami di cs@dinee.co.id</p>
    </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }
</style>



{% endblock %}