@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #797979;
}

footer {
  background-color: #414141;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #e94924;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

li.easy-way-li::marker {
  margin-top: 3rem;
  font-size: 30px;
  color: #e94924;
  background-color: #e94924;
}

.blog-preview {
  width: auto;
  max-height: 173px;
}

.blog-date {
  margin: 10px auto;
  padding: 0 auto;
  font-weight: 400;
}

.blog-title {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 25.83px;
  margin-bottom: 23px;
}

.easy-way-li {
  padding: 2vw;
  padding-left: 1vw;

  color: black;
  line-height: 23px;
}



.footer-text {
  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
}

.h2-title {
  font-weight: 800!important;
  letter-spacing: 0.02em;
}

.logo {
  color: #e94924!important;
}



.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #e94924!important; /* <—– change your color here*/
background-color: transparent;
}

.why-dinee-text {
  line-height: 29px;
}

#blog-header {
  color: #E94924;
}

#dinee-blog {
  color: white;
  background-color: #e94924;
  padding-top: 23px;
  height: 998px;
}

#cool-shape {
  /* width: 308px;
  height: 343px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; */

  /* margin: 3.5rem;
  margin-bottom: 0px; */

  margin-left: -4vw;

  /* background: #FFFFFF;
  transform: rotate(49.82deg); */

}

#cool-shape-2 {
  width: 463.05px;
  height: 518.57px;
  /* border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;

  background: #E94924;
  transform: rotate(49.82deg); */
}

#easy-way {
  margin-top: 72px;
  margin-bottom: 72px;
}

#easy-way-title {
  color: #E94924;
}

#easy-way-ol {
  padding-top: 2vh;
}

#homepage-ol {
  padding: 62px;
}

#homepage-ul {
  list-style-type: none;
  padding: 5rem 1rem;
  padding-top: 5rem;
  margin: 0;
}

#homepage-ul-1 {
  padding-bottom: 25px;
}

#homepage-ul-2 {
  padding-bottom: 25px;
}

#homepage-ul-3 {
  padding-bottom: 25px;
}

#main-section {
  margin: 0;
  padding: 0;
}

#view-more {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400px;
  font-size: 20px;
}

#view-more:hover {
  text-decoration: underline;
}

#why-dinee {
  color: white;
  background-color: #e94924;

  width: 100vw;
  height: 1326px;
  
  padding-top: 53px;
}

@media (min-width: 992px){
  footer {
    height: 398px;
  }

  .blog-preview {
    /* max-width: 353px; */
    width: auto;
    max-height: 201px;
  }

  .blog-title {
    font-size: 22px;
  }

  .easy-way-header {

    font-size: 20px;
    line-height: 29px;
    margin-bottom: 5px;

    letter-spacing: 0.02em;
  }

  .navbar li {
      margin-left : 1em;
      margin-right : 1em;
  }

  .why-dinee-text {
    font-size: 20px;
  }

  #cool-shape {
    /* position: relative; */
    
    width: 770.25px;
    height: 862.6px;

    left: 143.97px;
    top: 43px;
    margin-top: -43px;
    margin-left: -200.97px;

    visibility: visible;
  }

  #cool-shape-2 {
    width: 600.05px;
    height: auto;

    margin-right: 0px;
    margin-left: -4vw;
  }

  #dinee-blog {
    color: white;
    background-color: #e94924;
    padding-top: 66px;
    height: 613px;
  }

  #easy-way {
    height: 90vh;
  }

  #easy-way-ol {
    margin-top: 4vh;
    margin-right: 1vw;
  }

  #footer-column-1 {
    padding-left: 15vw;
  }

  #homepage-ul {
    padding: 7rem;
    padding-top: 5rem;
  }

  #homepage-ul-3{
    background: url('../img/Framehome-2.png') no-repeat left top;
    background-size: 83px 83px;
    padding-left: 6rem;
    padding-top: 3px;
    padding-bottom: 50px;
    max-width: 546px;
  }

  #homepage-ul-2{
    background: url('../img/Framehome-1.png') no-repeat left top;
    background-size: 83px 83px;
    padding-left: 6rem;
    padding-top: 3px;
    padding-bottom: 50px;
    max-width: 546px;
  }

  #homepage-ul-1{
    background: url('../img/Framehome-2.png') no-repeat left top;
    background-size: 83px 83px;
    padding-left: 6rem;
    padding-top: 3px;
    padding-bottom: 50px;
    max-width: 546px;
  }

  #why-dinee{
    height: 1101px;
    margin-right: 0;
  }
}

/* .carou-icon {
  background-color: dimgray !important;
}

.carou-text  {
  color: dimgray !important;
} */
